 * {
                          margin:0;padding:0;
                      }
body{
    background-color: aliceblue ;
}
li {
    list-style:none;
}
img {
    vertical-align:top;border:none;
}
#head {
    border:#909090 1px solid;


    filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=4);

    -moz-box-shadow: 2px 2px 10px #909090;

    -webkit-box-shadow: 2px 2px 10px #909090;

    box-shadow:2px 2px 10px #909090;
    color: white;
    height: 40px;
    width: 1200px;
    background-color:deepskyblue;
    margin: 0 auto;
    margin-top:50px;
    line-height: 40px;
    border-radius: 5px;
}
#headLeft{
    width: 600px;
    margin-left: 20px;
    float: left;
}
#headRight{
    font-size: 12px;
    width: 300px;
    margin-left: 78px;
    float: left;
}
#head ul {
    text-align: center;
}
#head ul li{
    float: left;
    margin-left:12px;
    list-style: none;
}
#head ul li a{
    text-decoration: none;
    color: cornsilk;
    font-size: 16px;
}
 #head:hover{
     color: coral;
 }
#footer{
    font-size: 10px;
    color: lightgray;
    height: 40px;
    margin: 0 auto;
    margin-top: 10px;
}
 #head ul li a {transition: all .3s;}
 #head ul li a:hover{color: coral;}

